<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<h1>Notes</h1>

<div th:insert="~{fragments/messages :: form_messages}"></div>

<div class="header-links">
    <a th:href="@{/notes/new}">Create new note</a>
</div>

<div class="container">
    <div th:each="note : ${notes}" class="card">
        <div class="title" th:text="${note.title}">Title</div>
        <div class="content" th:text="${note.content}">Content</div>
        <div class="meta">
            <div>ID: <span th:text="${note.id}">1</span></div>
            <div>Created: <span th:text="${note.createdAt}">2026-01-01T00:00:00Z</span></div>
            <div th:if="${note.updatedAt}">Updated: <span th:text="${note.updatedAt}">2026-01-01T00:00:00Z</span></div>
            <div th:if="${!note.tags.isEmpty()}">
                Tags: <span th:each="tag : ${note.tags}" th:text="${tag.name}" class="tag-pill">Tag</span>
            </div>
        </div>
        <div class="actions">
            <a th:href="@{/notes/{id}/edit(id=${note.id})}">Edit</a>
            <form class="app-form" th:action="@{/notes/{id}/delete(id=${note.id})}" method="post" th:object="${note}">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
