<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tag</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<h1 th:text="${tagId} != null ? 'Edit Tag' : 'Create Tag'">Create Tag</h1>

<form class="app-form" th:action="${tagId} != null ? @{/tags/{id}(id=${tagId})} : @{/tags}" th:object="${newTagRequest}" method="post">
    <div th:insert="~{fragments/messages :: form_messages}"></div>
    <div>
        <label for="name">Tag Name</label>
        <input type="text" id="name" th:field="*{name}" />
        <div class="field-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <div>
        <button type="submit">Save</button>
        <a th:href="@{/tags}">Cancel</a>
    </div>
</form>

</body>
</html>
